* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.parallax {
	position: relative;
	background: transparent;
	min-height: 100vh;
}

.text-wrapper {
	margin: 0 auto;
	padding: 50px 0;
	max-width: 1000px;
	min-height: 100vh;
}

.text-wrapper p {
	font-family: sans-serif;
	font-size: 20px;
	line-height: 3rem;
}